.App {
  background-color: rgb(30, 25, 25);
  height: 100vh;
  color: white;
  padding: 3%;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

.inline {
  display: flex;
  gap: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin: 0;
}
